html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

body {
    margin: 0;
    padding: 0;    
    background: -webkit-linear-gradient(#00707B, #004F56); /* For Safari 5.1 to 6.0  and Chrome*/
    background: -o-linear-gradient(#00707B, #004F56); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00707B, #004F56); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00707B, #004F56); /* Standard syntax */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%
}

@media (min-width: 620px) {

h1 {
    font-size: 25px
}

form h3 {
    margin-left: 60px
}

h4 {
    font-size: 20px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0px;
}

h5, h6 {
    display: inline-block;
    padding: 0;
    margin: 0;

}

h6 {
    margin-top: 0; 
    padding-top: 0;
}

#textarea {
    width: 400px;
    height: 100px;
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #006D78;
    font-size: 20px;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #D7D7D7;
    border: 2px solid #D7D7D7;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 60px;
    width: 220px;
    height: 60px;
    font-size: 20px;
    color: #E4E4E4;

}

.header {
    margin-top: 0;
    margin-left: 60px;
    margin-bottom: 50px
}

.comment1, .comment2, .comment3, .comment4, .comment5 {
    margin-left: 200px;
    padding: 0;
    font-size: 15px;
    color:#00F2DB;
    text-decoration: underline;

}

.question {
    color: grey;
    background-color: white;
    text-align: left;
    width: 520px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 60px;
    margin-bottom: 0;
}

.questionBox {
    width: 520px;
    height: 140px;
    background-color: white;
    padding-top: 60px; 
    text-align: left;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 0;
    margin-left: 60px;
    margin-bottom: 50px;
}

.stars {
    width: 440px;
    height: 40px;
    margin-left: 40px;  
    margin-bottom: 0;
    background-color: #D7D7D7;
    border-radius: 35px;  
    border: 2px solid #E4E4E4;
    display: flex; 
    flex-direction: row;

}

.agree {
    padding: 0;
    margin: 0;
    font-size: 20px;
    margin-left: 40px;
    color: #E4E4E4;
}

.strongly {
    margin-left: 245px;
}

.star, .star1, .star6, .star11, .star16, .star21 {
    margin-right: 7.5%;
    margin-left: 7.5%;  
}

.emoticons {
    margin-right: 25px;
    margin-top: 10px;
    

}

.visibility {
    display:none;
}

.emoticons:hover {
    background-color: white;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 0;
    margin-right: 15px 
}

.suggestion {
    width: 400px;
    height: 100px;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 20px;
    border: 2px solid #D7D7D7;
}

.gratitude {
    font-size: 16px;
    font-weight: lighter;
    color: #68696b;
    padding: 0;
    margin: 0 0 0 40px;
}

#mistake {
    display: none;
    margin-left: 60px;
    height: 150px;
    width: 490px;
    background-color: #004F56;
    border-radius: 5px;
    font-size: 15px; 
    padding-top: 10px; 
    padding-left: 25px;
}

.vhappy {
    display: none
}
.happy {
    display: none
}
.neutral {
    display: none
}
.unhappy {
    display: none
}
.vunhappy {
    display: none
}

.footerItem{
    margin-bottom: 20px;
}

#logo-image {
    margin-top: 10px;
    margin-left: 6px; 
    background-color: #00EFD6;
    border-radius: 25%;
    height: 15px;
    width: 15px;
    border: 5px solid #00EFD6; 
}

#sidebar {
    position: absolute;
    background-color: #004F56;
    width: 40px;
    float: left;
    top: 0;
    left: 0;
    flex-direction:column;
}

#info {
    margin-left: 10px;
    bottom: 0;
}

#main {
    margin-left: 40px;
    position: absolute; 
    width: 100%;
    color: white;
    float: right;
}

#company {
    color: white; 
    text-align: right;
    margin-right: 50px;

}

#edit {
    margin-top: 60px;
    float: left;
    background-color: #004F56;
    height: 20px;
    width: 20px
}

#edit-icon {
    padding-left: 5px
}

#emoticon {
    height: 130px;
    width: 130px;
    background-color: white;
    border: 5px solid white;
    border-radius: 50%;
    float: left;

}

#heading {
    padding-top: 20px;
    margin-left: 200px;
}

#add {
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
    height: 260px;
    width: 520px;
    background-color: #008491;
    color: white;
    border-radius: 5px;
}



#extra {
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
    background-color: #004F56;
    border-radius: 50%;
    float: right;
    width: 90px;
    height: 90px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
}

#highlight {
    color: #00EFD6;
}

#thanks {
    color:#00EFD6;
    font-size: 24px;
    margin-left: 40px;
}

#thankYou {
    width: 520px;
    height: 140px;
    background-color: white;
    padding-top: 60px; 
    text-align: left;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 60px; 
    margin-bottom: 50px;

}

#speakTriangle {
    float: left;
    margin-left: 50px;
    margin-top: 15px;
    width:0; 
    border-right:20px solid white; 
    border-top:15px solid transparent; 
    border-bottom:15px solid transparent;

}

#footer {
    margin-left: 60px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: lighter;
}

#item2 {
 color: #00EFD6
}



}

@media (max-width: 620px)  {

h1 {
    font-size: 25px
}

form h3 {
    margin-left: 20px;
    font-size: 16px;
}

h4 {
    font-size: 15px;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0px;
}

h5, h6 {
    display: inline-block;
    padding: 0;
    margin: 0;
}

h5 {
    font-size: 11px;
    font-weight: lighter;
}

h6 {
    margin-top: 0; 
    padding-top: 0;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #D7D7D7;
    border: 2px solid #D7D7D7;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 25px;
    width: 180px;
    height: 60px;
    font-size: 20px;
    color: #E4E4E4;

}

.header {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 50px
}

.comment1, .comment2, .comment3, .comment4, .comment5 {
    margin-left: 35%;
    padding: 0;
    font-size: 15px;
    color:#00F2DB;
    text-decoration: underline;

}

.question {
    color: grey;
    background-color: white;
    text-align: left;
    width: 80%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 20px;
    margin-bottom: 0;
}

.questionBox {
    width: 80%;
    height: 50%;
    background-color: white;
    padding-top: 20px; 
    text-align: left;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 50px;
}

.stars {
    width: 92%;
    height: 40px;
    margin-left: 4%;  
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    background-color: #D7D7D7;
    border-radius: 35px;  
    border: 2px solid #E4E4E4;
    display: flex; 
    flex-direction: row;
}

.agree {
    padding: 0;
    margin: 0;
    font-size: 15px;
    margin-left: 5%;
    color: #E4E4E4;
    text-align: left;
}

.strongly {
    float: right;
    margin-right: 5%;
    margin-top: 1%
}

.star, .star1, .star6, .star11, .star16, .star21 {
    margin-right: 7.5%;
    margin-left: 7.5%;    
}

.emoticons {
    margin-right: 25px;
    margin-top: 10px;
    height: 40px;
    width: 40px
    

}

.visibility {
    display:none;
}

.emoticons:hover {
    background-color: white;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 0;
    margin-right: 15px 
}

.suggestion {
    width: 92%;
    height: 100px;
    margin-left: 2.5%;
    margin-top: 10%;
    font-size: 15px;
    border: 2px solid #D7D7D7;
}

.gratitude {
    font-size: 16px;
    font-weight: lighter;
    color: #68696b;
    padding: 0;
    margin: 0 0 0 40px;
}

.vhappy {
    display: none
}
.happy {
    display: none
}
.neutral {
    display: none
}
.unhappy {
    display: none
}
.vunhappy {
    display: none
}

.footerItem{
    margin-bottom: 20px;
}

#textarea {
    width: 82%;
    height: 100px;
    margin-left: 8%;
     margin-top: 5%; 
    border-radius: 5px;
    border: 2px solid #006D78;
    font-size: 15px;
}

#subheading {
    padding-top: 0;
    margin-top: 0;
}

#thank{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 5px;
}

#mistake {
    display: none;
    margin-left: 20px;
    height: 100px;
    width: 75%;
    background-color: #004F56;
    border-radius: 5px;
    font-size: 10px; 
    padding-top: 5px; 
    padding-left: 25px;
}

#logo-image {
    margin-top: 10px;
    margin-left: 4px; 
    background-color: #00EFD6;
    border-radius: 25%;
    height: 12px;
    width: 12px;
    border: 5px solid #00EFD6; 
}

#sidebar {
    position: absolute;
    background-color: #004F56;
    width: 30px;
    float: left;
    top: 0;
    left: 0;
    flex-direction:column;
}

#info {
    margin-left: 10px;
    bottom: 0;
}

#main {
    margin-left: 40px;
    position: absolute; 
    width: 100%;
    color: white;
    float: right;
}

#company {
    color: white; 
    text-align: right;
    margin-right: 50px;
    display: none;
}

#edit {
    margin-top: 22px;
    float: left;
    background-color: #004F56;
    height: 3%;
    width: 3%;

}

#edit-icon {
    padding-left: 10%
}

#emoticon {
    height: 60px;
    width: 60px;
    background-color: white;
    border: 5px solid white;
    border-radius: 50%;
    float: left;

}

#heading {
    margin-top: 0px;
    padding-left: 90px;
}

#add {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 230px;
    width: 75%;
    background-color: #008491;
    color: white;
    border-radius: 5px;
}

#extra {
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
    background-color: #004F56;
    border-radius: 50%;
    float: right;
    width: 90px;
    height: 90px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    display: none;
}

#highlight {
    color: #00EFD6;
}

#thanks {
    color:#00EFD6;
    font-size: 24px;
    margin-left: 40px;
}

#thankYou {
    width: 80%;
    height: 140px;
    background-color: white;
    padding-top: 60px; 
    text-align: left;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px; 
    margin-bottom: 50px;

}

#speakTriangle {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    width:0; 
    border-right:20px solid white; 
    border-top:15px solid transparent; 
    border-bottom:15px solid transparent;
}

#footer {
    margin-left: 25px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: lighter;
}

#item2 {
 color: #00EFD6
}

}